<div th:fragment="formField (carrito)" class="card" >

	<div class="card-body m-1">

		<h6 class="card-header">Carrito de Compra</h6>

		<p class="card-text" </p>
			<div id="itemsCarrito">
				<ul th:each="pizza : ${carrito}" class=" list-group fa-ul">
					<li>
			
						<span class="fa-li">
							<i class="fa-solid fa-pizza-slice"></i>
						</span>
						<span th:text="${pizza.nombre}"></span>

						
						
					</li>
				</ul>
			</div>
		</p>
		<div>
			<a th:href="@{/protected/pedido/crear}" class="btn btn-primary">Completar Pedido</a>
		</div>
	</div>




</div>