<div th:fragment="formField (carrito)" class="card" >

	<div class="card-body">

		<h6 class="card-header">Carrito de Compra</h6>

		<p class="card-text">
			<div id="itemsCarrito">
				<ul  class=" list-group fa-ul" >
					<li class="list-group-item"  th:each="pizza : ${carrito}">
			
						<span class="fa-li">
							<a th:href="'/protected/pedido/quitarPizza?id='+${pizza.id}">
								<i class="fa-solid fa-trash" ></i>
							</a>
						</span>
						<i class="fa-solid fa-pizza-slice icono-pizza"></i>
						<span th:text="${pizza.nombre}"></span>

						<div  class="fw-lighter">
								<span th:each="salsa, iterStat : ${pizza.salsas}" th:text="!${iterStat.last} ? ${salsa.nombre} + ', ': ${salsa.nombre} " />
						</div>
						
						<div  class="fw-lighter">
								<span th:each="queso, iterStat : ${pizza.quesos}" th:text="!${iterStat.last} ? ${queso.nombre} + ', ': ${queso.nombre} " />			
						</div>
						
						<div class="fw-lighter">
							<span th:each="topping, iterStat : ${pizza.toppings}" th:text="!${iterStat.last} ? ${topping.nombre} + ', ': ${topping.nombre} " />	
						</div>

					</li>
				</ul>
			</div>
		</p>
		<div class="row align-items-center">
					<a th:href="@{/protected/pedido/crear}" class="btn btn-primary">Completar Pedido</a>
		</div>
	</div>




</div>