<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="_footer" class="footer">
  <div class="container text-center">
      © 2023 Copyright: Alexis y Jorge
  </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    
    
    <script type="text/javascript" th:src="@{/webjars/select2/4.0.13/js/select2.full.js}"></script>
</footer>
