<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="_head(pagina_nombre)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pagina_nombre}"></title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/assets/password-strength-meter/password.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>

    <link rel="stylesheet" href="/css/styles.css">
    

</head>

