<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="_nav" class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/images/pizzahurt_150.png}" width="30" height="30" alt="">
    Pizza Hurt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/pedido/crear}">
			<i class="bi bi-plus-lg"></i> Nuevo Pedido 
			<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Pedidos <span class="sr-only">(current)</span></a>
      </li>

    </ul>


    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown mr-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Bienvenido Juan Perez
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" th:href="@{/usuario/modificar(id=1)}">Datos Personales</a>
          <a class="dropdown-item" th:href="@{/usuario/cambiarPassword}">Cambiar Contraseña</a>

        </div>
      </li>
      <li class="nav-item active mr-2">
        <a class="nav-link" th:href="@{/login}">
          Logout
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>