<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="_nav" class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand ms-3" th:href="@{/}">
    <img th:src="@{/images/pizzahurt_150.png}" width="30" height="30" alt="">
    Pizza Hurt
  </a>
  <div class="collapse navbar-collapse me-3" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/registrarUsuario}">
          Registrarse
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>