<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: _head('Cambiar Contraseña')}"></head>

<body>
<nav th:replace="~{fragments/navbar :: _nav}"></nav>

<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <h1>Cambiar Contraseña</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <div th:if="${mensaje}" th:text="${mensaje}" th:class="${'status_message alert alert-success'}"></div>
                    <div th:if="${mensaje_error}" th:text="${mensaje_error}" th:class="${'status_message alert alert-danger'}"/>

                    <form th:object="${usuario}" th:action="@{/usuario/guardar}" method="post">
                        <div class="card w-95">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Nombre Completo:</label>
<!--                                            <input type="text" class="form-control " th:field="*{nombreCompleto}"-->
<!--                                                   th:classappend="${#fields.hasErrors('nombreCompleto')} ? 'is-invalid' : ''"-->
<!--                                                   aria-describedby="validationNombre"/>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Contraseña Actual:</label>
<!--                                            <input type="email" class="form-control" th:field="*{email}"-->
<!--                                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"-->
<!--                                                   aria-describedby="validationEmail" readonly>-->
<!--                                            <div id="validationEmail" class="invalid-feedback">-->
<!--                                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</p>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Nueva Contraseña:</label>
<!--                                            <input type="text" class="form-control" th:field="*{telefono}"-->
<!--                                                   th:classappend="${#fields.hasErrors('telefono')} ? 'is-invalid' : ''"-->
<!--                                                   aria-describedby="validationTelefono">-->
<!--                                            <div id="validationTelefono" class="invalid-feedback">-->
<!--                                                <p th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error</p>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col col-md-5 offset-md-5">
                                <button type="submit" class="btn btn-primary mr-3">Confirmar</button>
                                <a th:href="@{/}" class="btn btn-danger" role="button">Salir</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer:: _footer}"></footer>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/password-strength-meter/password.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>

</body>
</html>