<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: _head('Pedido')"></head>

<body>
<nav th:replace="fragments/navbar :: _nav"></nav>

<div class="container mt-5">
    <h1>Pedido</h1>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Datos del Pedido
                </div>
                <div class="card-body">
                    <form th:object="${pedido}" th:action="@{/guardar}">
						
						<div th:replace="fragments/campoDTO.html :: formField(field='nombreReceptor', descripcion='Nombre del Receptor')"></div>
						
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer:: _footer"></footer>

</body>
</html>