<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: _head('Pedido')}"></head>

<body>
	<nav th:replace="~{fragments/navbar}"></nav>

	<div class="container mt-5">
		<h1>Pedido</h1>


		<div class="row mt-3">
			<div class="col-md-6">
				<form th:object="${pedido}" th:action="@{/guardar}">
					<div class="card">

						<div class="card-header	">
							Datos de Entrega
						</div>
						<div class="card-body">


							<div
								th:replace="~{fragments/campoDTO.html (field='nombreReceptor',	descripcion='Nombre del Receptor')}" />
							<div
								th:replace="~{fragments/campoDTO.html (field='barrio',			descripcion='Barrio')}" />
							<div
								th:replace="~{fragments/campoDTO.html (field='calle',			descripcion='Calle')}" />
							<div
								th:replace="~{fragments/campoDTO.html (field='nroPuerta',		descripcion='Numero de Puerta')}" />
							<div
								th:replace="~{fragments/campoDTO.html (field='apto',				descripcion='Apartamento')}" />
							<div
								th:replace="~{fragments/campoDTO.html (field='observaciones',	descripcion='Observaciones')}" />

							<button type="submit" class="btn btn-primary">Guardar Cambios</button>

						</div>
					</div>


					<div class="card">
						<div class="card-header	">
							Datos de Pago
						</div>
						<div class="card-body">

							<div
								th:replace="~{fragments/campoDTO.html (field='emisor',			descripcion='Emisor')}" />
							<div
								th:replace="~{fragments/campoDTO.html (field='nroTarjeta',		descripcion='Numero de Tarjeta')}" />
							<div
								th:replace="~{fragments/campoDTO.html (field='fechaVencimiento',	descripcion='Fecha de Vencimiento')}" />
							<div
								th:replace="~{fragments/campoDTO.html (field='codigoCVV',		descripcion='CVV')}" />

						</div>
					</div>

					<div class="card">
						<div class="card-header	">
							Pizzas
						</div>
						<div class="card-body">

							<div id="itemsPedido">
								<ul th:each="item : *{pizzas}" class=" list-group fa-ul">
									<li>												
										
										<span class="fa-li">
											<i class="fa-solid fa-pizza-slice" ></i>
										</span>
										<span th:text="${item.nombre}"></span>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</form>

			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/footer}"></footer>

</body>

</html>