<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: _head('Pedido')}"></head>

<body>
	<nav th:replace="~{fragments/navbar}"></nav>

	<div class="container mt-5">
		<div class="d-flex justify-content-center">
			<h1>Crear un Pedido</h1>
		</div>
		<div class="card">
			<div class="card-body">

				<form th:object="${pedido}" th:action="@{/protected/pedido/guardar}" method="post">
					<div th:if="${mensaje_error}" th:text="${mensaje_error}" th:class="${'status_message alert alert-danger'}"></div>
					<div th:if="${#fields.hasErrors('global')}" th:class="${'status_message alert alert-danger'}">
						<span th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error fw-bold"/>
					</div>
					<div th:if="${success}" th:text="${success}" th:class="${'status_message alert alert-success'}"></div>
					<div class="card w-95">
						<div class="card-body">
							<h5 class="card-title">Datos de Entrega</h5>
							<div class="row align-items-center mt-2">
								<div class="col-6">
									<div th:replace="~{fragments/campoDTO.html(field='nombreReceptor',	descripcion='Nombre del Receptor:')}"></div>
								</div>
							</div>
							<div class="row align-items-center mt-2">
								<div class="col-5">
									<div th:replace="~{fragments/campoDTO.html(field='ciudad', descripcion='Ciudad:')}"></div>
								</div>
								<div class="col-5">
									<div th:replace="~{fragments/campoDTO.html(field='barrio', descripcion='Barrio:')}"></div>
								</div>
								<div class="col-2">
									<div th:replace="~{fragments/campoDTO.html(field='codigoPostal', descripcion='Código Postal:')}"></div>
								</div>

							</div>
							<div class="row align-items-center mt-2">
								<div class="col-8">
									<div th:replace="~{fragments/campoDTO.html(field='calle', descripcion='Calle:')}"></div>
								</div>
								<div class="col-2">
									<div th:replace="~{fragments/campoDTO.html(field='nroPuerta', descripcion='Número de Puerta:')}"></div>
								</div>
								<div class="col-2">
									<div th:replace="~{fragments/campoDTO.html(field='apto', descripcion='Apartamento:')}"></div>
								</div>
							</div>
							<div class="row align-items-center mt-2">
								<div class="col-12">
									<div th:replace="~{fragments/campoDTO.html(field='observaciones', descripcion='Observaciones:')}"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="card w-95 mt-2">
						<div class="card-body">
							<h5 class="card-title">Datos de Pago</h5>
							<div class="row align-items-center mt-2">
								<div class="col-5">
									<div th:replace="~{fragments/campoDTO.html(field='nombreTarjeta', descripcion='Nombre del Titular:')}"></div>
								</div>
								<div class="col-5">
									<div th:replace="~{fragments/campoDTO.html(field='nroTarjeta', descripcion='Numero de Tarjeta:')}"></div>
								</div>
							</div>
							<div class="row align-items-center mt-2">
								<div class="col-5">
									<div th:replace="~{fragments/campoDTO.html(field='emisor', descripcion='Emisor:')}"></div>
								</div>
								<div class="col-3">
									<div th:replace="~{fragments/campoDTO_col4.html(field='fechaVencimiento', descripcion='Fecha de Vencimiento:')}"></div>
								</div>
								<div class="col-3">
									<div th:replace="~{fragments/campoDTO_col4.html(field='codigoCVV', descripcion='CVV:')}"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="card w-95 mt-2">
						<div class="card-body">
							<h5 class="card-title">Pizzas del Pedido</h5>
							<div class="row align-items-center">
								<div id="itemsPedido">
									<table class="table">
										<thead>
										<tr>
											<th scope="col">Nombre Pizza</th>
											<th scope="col">Masas</th>
											<th scope="col">Salsas</th>
											<th scope="col">Quesos</th>
											<th scope="col">Toppings</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="item : *{pizzas}">
											<td>
												<i class="fa-solid fa-pizza-slice" ></i>
												<span th:text="${item.nombre}"></span>
											</td>
											<td>
												<span th:each="ing,iter:${item.getMasa()}" th:text="!${iter.last} ? ${ing.nombre} + ',': ${ing.nombre}"></span>
											</td>
											<td>
												<span th:each="ing,iter:${item.getSalsas()}" th:text="!${iter.last} ? ${ing.nombre} + ', ': ${ing.nombre}"></span>
											</td>
											<td>
												<span th:each="ing,iter:${item.getQuesos()}" th:text="!${iter.last} ? ${ing.nombre} + ', ': ${ing.nombre}"></span>
											</td>
											<td>
												<span th:each="ing,iter:${item.getToppings()}" th:text="!${iter.last} ? ${ing.nombre} + ', ': ${ing.nombre}"></span>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col col-md-5 offset-md-5">
							<button type="submit" class="btn btn-primary">Confirmar Pedido</button>
							<a th:href="@{/protected/home}"  class="btn btn-secondary" role="button">Volver</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/footer}"></footer>
	<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>

</html>