<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: _head('Perfil del Usuario')"></head>

<body>
<nav th:replace="fragments/navbar :: _nav"></nav>

<div class="container mt-5">
  <img id="image_logo" th:src="@{/images/pizzahurt.png}" class="img-fluid rounded mx-auto d-block" alt="">
</div>

<footer th:replace="fragments/footer:: _footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>