<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: _head('Login Pizza Hurt')}"></head>

<body>
<nav th:replace="~{fragments/navbar_external.html::_nav}"></nav>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">

                <div class="col-7 align-self-center">
                    <img id="image_logo" th:src="@{/images/pizzahurt.png}" class="img-fluid rounded mx-auto d-block" alt="">
                </div>

                <div class="col-6 align-self-center">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form method="POST" th:action="@{/login}" id="loginForm">
                                        <div class="form-group">
                                            <label for="username">Correo Electrónico</label>
                                            <input type="email" class="form-control" id="username" name="username" placeholder="Ingresa tu correo electrónico" required>
                                        </div>
                                        <div class="form-group my-3 ">
                                            <label for="password">Contraseña</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer:: _footer}"></footer>
<script type="text/javascript" th:src="@{/js/app.js}"></script>

</body>
</html>