<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: _head('Perfil del Usuario')}"></head>

<body>
<nav th:replace="~{fragments/navbar_external.html::_nav}"></nav>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <h1>Registro de Usuario</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <div th:if="${mensaje}" th:text="${mensaje}" th:class="${'alert alert-success'}"/>
                    <div th:if="${mensaje_error}" th:text="${mensaje_error}" th:class="${'alert alert-danger'}"/>

                    <form th:object="${usuario}" th:action="@{/usuario/registrarUsuario}" method="post">
                        <div class="card w-95">
                            <div class="card-body">
                                <h5 class="card-title">Datos Personales</h5>
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Nombre Completo:</label>
                                            <input type="text" class="form-control " th:field="*{nombreCompleto}"
                                                   th:classappend="${#fields.hasErrors('nombreCompleto')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationNombre"/>
                                            <div id="valida tionNombre" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('nombreCompleto')}" th:errors="*{nombreCompleto}">Error ingredientes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="email" class="form-control" th:field="*{email}"
                                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationEmail" required>
                                            <div id="validationEmail" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label>Teléfono:</label>
                                            <input type="text" class="form-control" th:field="*{telefono}"
                                                   th:classappend="${#fields.hasErrors('telefono')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationTelefono">
                                            <div id="validationTelefono" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Contraseña:</label>
                                            <div class="input-group" id="show_hide_password">
                                                <input id="password" type="password" class="form-control" th:field="*{password}"
                                                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                                       aria-describedby="validationPassword" name="pwd" autocomplete="off" required >
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                                </div>
                                                <div id="validationPassword" class="invalid-feedback">
                                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card w-95 mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Domicilio</h5>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Ciudad:</label>
                                            <input type="text" class="form-control" th:field="*{ciudad}"
                                                   th:classappend="${#fields.hasErrors('ciudad')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationCiudad">
                                            <div id="validationCiudad" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}">Error</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Barrio:</label>
                                            <input type="text" class="form-control" th:field="*{barrio}"
                                                   th:classappend="${#fields.hasErrors('barrio')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationBarrio">
                                            <div id="validationBarrio" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('barrio')}" th:errors="*{barrio}">Error</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Código Postal:</label>
                                            <input type="text" class="form-control" th:field="*{codigoPostal}"
                                                   th:classappend="${#fields.hasErrors('codigoPostal')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationCodigoPostal">
                                            <div id="validationCodigoPostal" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}">Error</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Calle:</label>
                                            <input type="text" class="form-control" th:field="*{calle}"
                                                   th:classappend="${#fields.hasErrors('calle')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationCalle">
                                            <div id="validationCalle" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}">Error</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Nro. Puerta:</label>
                                            <input type="text" class="form-control" th:field="*{nroPuerta}"
                                                   th:classappend="${#fields.hasErrors('nroPuerta')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationNumeroPuerta">
                                            <div id="validationNumeroPuerta" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('nroPuerta')}" th:errors="*{nroPuerta}">Error</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label>Apto:</label>
                                            <input type="text" class="form-control" th:field="*{apto}"
                                                   th:classappend="${#fields.hasErrors('apto')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationApto">
                                            <div id="validationApto" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('apto')}" th:errors="*{apto}">Error</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-95 mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Método de Pago</h5>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="form-group col-6 pl-0">
                                            <label>Emisor:</label>
                                            <input type="text" class="form-control" th:field="*{emisor}"
                                                   th:classappend="${#fields.hasErrors('emisor')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationEmisor">
                                            <div id="validationEmisor" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('emisor')}" th:errors="*{emisor}">Error</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Número de Tarjeta:</label>
                                            <input type="text" class="form-control" th:field="*{nroTarjeta}"
                                                   th:classappend="${#fields.hasErrors('nroTarjeta')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationTarjeta">
                                            <div id="validationTarjeta" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('nroTarjeta')}" th:errors="*{nroTarjeta}">Error</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Fecha de Vencimiento:</label>
                                            <input type="text" class="form-control" th:field="*{fechaVencimiento}"
                                                   th:classappend="${#fields.hasErrors('fechaVencimiento')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationTarjetaFechaVencimiento">
                                            <div id="validationTarjetaFechaVencimiento" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('fechaVencimiento')}" th:errors="*{fechaVencimiento}">Error</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Código CVV:</label>
                                            <input type="text" class="form-control" th:field="*{codigoCVV}"
                                                   th:classappend="${#fields.hasErrors('codigoCVV')} ? 'is-invalid' : ''"
                                                   aria-describedby="validationCodigoCVV">
                                            <div id="validationCodigoCVV" class="invalid-feedback">
                                                <p th:if="${#fields.hasErrors('codigoCVV')}" th:errors="*{codigoCVV}">Error</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col col-md-5 offset-md-5">
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                                <a th:href="@{/}"  class="btn btn-danger" role="button">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer:: _footer}"></footer>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/password-strength-meter/password.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>

</body>
</html>