<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: _head('Perfil del Usuario')}"></head>

<body>
<nav th:replace="~{fragments/navbar :: _nav}"></nav>
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <h1>Ver el Pedido</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <form th:object="${pedido}" method="post">
                <div class="card w-95">
                    <div class="card-body">
                        <h5 class="card-title">Datos de Entrega</h5>
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='nombreReceptor',	descripcion='Nombre del Receptor')}"></div>
                            </div>
                            <div class="col-3 offset-2">
                                <div th:replace="~{fragments/campoFechaDTO_readonly.html(field='fechaPedido', descripcion='Fecha del Pedido')}"></div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-2">
                            <div class="col-5">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='ciudad', descripcion='Ciudad')}"></div>
                            </div>
                            <div class="col-5">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='barrio', descripcion='Barrio')}"></div>
                            </div>
                            <div class="col-2">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='codigoPostal', descripcion='Código Postal')}"></div>
                            </div>

                        </div>
                        <div class="row align-items-center mt-2">
                            <div class="col-8">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='calle', descripcion='Calle')}"></div>
                            </div>
                            <div class="col-2">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='nroPuerta', descripcion='Numero de Puerta')}"></div>
                            </div>
                            <div class="col-2">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='apto', descripcion='Apartamento')}"></div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-2">
                            <div class="col-12">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='observaciones', descripcion='Observaciones')}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-95 mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Datos de Pago</h5>
                        <div class="row align-items-center mt-2">
                            <div class="col-5">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='nombreTarjeta', descripcion='Nombre del Titular')}"></div>
                            </div>
                            <div class="col-5">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='nroTarjeta', descripcion='Número de Tarjeta')}"></div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-2">
                            <div class="col-5">
                                <div th:replace="~{fragments/campoDTO_readonly.html(field='emisor', descripcion='Emisor')}"></div>
                            </div>
                            <div class="col-3">
                                <div th:replace="~{fragments/campoDTO_col4_readonly.html(field='fechaVencimiento', descripcion='Fecha de Vencimiento')}"></div>
                            </div>
                            <div class="col-3">
                                <div th:replace="~{fragments/campoDTO_col4_readonly.html(field='codigoCVV', descripcion='CVV')}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-95 mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Pizzas del Pedido</h5>
                        <div class="row align-items-center mt-2">
                            <div id="itemsPedido">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nombre Pizza</th>
                                        <th scope="col">Masas</th>
                                        <th scope="col">Salsas</th>
                                        <th scope="col">Quesos</th>
                                        <th scope="col">Toppings</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : *{pizzas}">
                                        <td>
                                            <i class="fa-solid fa-pizza-slice" ></i>
                                            <span th:text="${item.nombre}"></span>
                                        </td>
                                        <td>
                                            <span th:each="ing,iter:${item.getMasa()}" th:text="!${iter.last} ? ${ing.nombre} + ',': ${ing.nombre}"></span>
                                        </td>
                                        <td>
                                            <span th:each="ing,iter:${item.getSalsas()}" th:text="!${iter.last} ? ${ing.nombre} + ', ': ${ing.nombre}"></span>
                                        </td>
                                        <td>
                                            <span th:each="ing,iter:${item.getQuesos()}" th:text="!${iter.last} ? ${ing.nombre} + ', ': ${ing.nombre}"></span>
                                        </td>
                                        <td>
                                            <span th:each="ing,iter:${item.getToppings()}" th:text="!${iter.last} ? ${ing.nombre} + ', ': ${ing.nombre}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col col-md-5 offset-md-5">
                        <a th:href="@{/protected/pedido/list}"  class="btn btn-secondary" role="button">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<footer th:replace="fragments/footer:: _footer"></footer>

</body>
</html>